body{
  background-color: #e5dfdf;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-family: 'Mukta', sans-serif;
}

.top-container{
  background-color:#ffffff;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  position:relative;
}

h1{
  margin:0 auto 0 auto;
  top:100px;
  font-family: 'Indie Flower', cursive;
  font-size: 90px;
  color: #66BFBF;
}

.subtitle{
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 40px;
}

h2{
  font-size:3rem;
  font-family: 'Amatic SC', cursive;
  color: #66BFBF;
}

h3{
  color:#11999E;
}

p{
  font-family: 'Rokkitt', serif;
  font-size: 20px;
}

.profileimg{
  width:300px;
  height: 300px;
  position: relative;
  padding-top: 30px;
  border-radius: 35%;
}

.bottom-cloud{
  position:absolute;
  left:400px;
}

.top-cloud{
  position:absolute;
  right:400px;
  top:120px;
}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  padding-top: 20px;
  text-align: left;
  line-height: 2;
}


.computer-img{
  width: 25%;
  float:left;
  margin-right: 30px;
}

.chillies-img{
  width:25%;
  float:right;
  margin-left:30px;
}

hr{
border-style: none;
border-top-style: dotted;
border-color: #EAF6F6;
border-width: 7px;
width: 100px;
}

.bottom-container{
  background-color: #66BFBF;
  color:#EAF6F6;
  margin-top:60px;
}

.footer-link{
  color:#11999E;
}


.button-contact{
	box-shadow: 0px 7px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:18px;
	border:3px solid #333029;
	display:inline-block;
	color:#505739;
  font-family: 'Amatic SC', cursive;
	font-size:2rem;
	padding:14px 31px;
}

.button-contact:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.button-contact:active {
	position:relative;
	top:1px;
}
